*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:darkred;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;

}
h1{
    margin: 20px;
    font-size: 5rem;
    
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.start,
.stop,
.clear{
    background-color: darkred;
    color: black;
    padding: 5px 10px;
    margin: 0 30px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 2rem;
}
.day,
.hour,
.minute,
.seconds{
    font-size: 2.5rem;
    margin:20px;
    width : 250px;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
    
    

