/* Bu css dosyasına genel olarak her yerde kullanacağımız css kodlarını yazıyoruz. Özetle buraya sık kullanacağımız belli başlı css kodlarını
classlarıyla beraber yazıyoruz ve html iskeletimizde lazım oldukça bunları class olarak ekliyoruz. */

/* text */
.text-center{
    text-align: center; /*Yazının merkezde olmasını istediğimiz durumlarda direk önceden hazırladığımız bu classı kullanabiliriz*/
} 

.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}
/* colors */
.bg-dark-blue{
    background-color: darkblue;
}
.bg-dark-gray{
    background-color: darkgray;
}
.bg-dark-brown{
    background-color: rgb(165, 42, 99);
}
/* Container */
.container-navbar {
    max-width: 1100px;
    margin: 0 auto;
}

/* Buttons */

.btn{
    margin-top:1.25rem;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    letter-spacing: 0.2px;
    width: 100%;
    text-align: center;
}
.btn-primary{
    background: darkslateblue;
    border : 0.5px solid darkslateblue;
    border-radius: 8px;
}
.btn-primary:hover{
    background: #fff;
    border : 0.5px solid darkslateblue;
    border-radius: 8px;
    color: darkslateblue;
}
.btn-dark{
    background-color:#333;
}
.btn-dark:hover{
    color: #333;
    background-color: #fff;
    border: 0.5px solid #333;
}
/* Forms */
.form-group{
    padding: 0.25rem 0;

}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 0.8rem;
    resize: none;
    border-radius: 5px;
}