* {
  font-family: "Roboto Serif", serif;
}
.title {
  text-align: center;
  color:white
}
.list-group {
  height: 500px;
  justify-content: space-around;
}
.clock-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
#istanbul, #ankara, #izmir, #gaziantep{
    display: flex;
    align-items: center;
    justify-content:space-between
}
.card{
    background-color:darkorange
}
.list-group-item{
    background-color: darkorange;
}
.btn:hover{
    background-color:cornflowerblue
}