.containers{
    position: absolute;
    left : 50%;
    top: 15%;
    transform: translate(-50% , -50%);
}

.head{
    width: 150px;
    height: 100px;
    background:#b9830e;
    border-radius: 100%;
    position: relative;
    border : 3px solid #000;
}

.ear{
    width : 25px;
    height: 25px;
    border-radius : 100%;
    position: absolute;
    border : 3px solid #000;
    background: #b9830e;
    z-index : -1;
}
.ear:nth-child(1){
    top:5px;
} 
.ear:nth-child(2){
    top:5px;
    right: 0;
} 
.eye{
    width: 7.5px;
    height: 12.5px;
    background: #000;
    border-radius: 100%;
    position: absolute;
    animation: eyes 15s ease-in-out infinite;
}
.eye:nth-child(3){
    top: 45px;
    left : 40px;
}
.eye:nth-child(4){
    top: 45px;
    right : 40px;
}
.nose{
    width : 30px;
    height: 20px;
    border-radius: 100%;
    background: #000;
    position: absolute;
    top : 65%;
    left : 50%;
    transform: translate(-50%);
    
}

.mouth{
    width : 5px;
    height: 20px;
    background:#000;
    left : 50%;
    transform: translate(-50%);
    bottom : 0;
    position: absolute;
}
.eye{
    position: absolute;
    width : 11px;
    height: 11px;
    top : 42%;
    background: #fff;
    border-radius: 50%;
    animation: eyes 15s ease-in-out infinite;
}

.eye:before{
    position: absolute;
    content : "";
    display: block;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    top : 4.5px;
    left : 4.5px;
    animation: pupils 15s ease-in-out infinite;
}
@keyframes eyes {
    0%, 23%, 25%, 65%, 67%, 89%, 91%, 100%{
        transform: scaleY(1);
    }
    24%, 66%, 90%{
        transform: scaleY(0);
    }
}
@keyframes pupils{
    0%, 23%, 25%, 65%, 67%, 89%, 91%, 100%{
        top:4,5px;
        left:4,5px;
        transform: scaleY(1);
    }
    40%{
        top:2px;
        left:2px;
    }
    24%, 66%, 90%{
        transform: scaleY(2);
    }
}